body
{
  background-color: #fffde3;
}

header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightblue;
  border-style: dotted;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 20px;
  font-size: 20px;
  margin: -8px;
  margin-bottom: 10px;
}

footer
{
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: yellow;
  margin: -8px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: dotted;
}

#container-wycieczka
{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.h1
{
  font-family: Arial, sans-serif;
}

.h2
{
  font-family: Arial, sans-serif;
}

.h3
{
  font-family: Arial, sans-serif;
}

#obrazek
{
  float: left;
  height: 185px;
  width: 300px;
}

#istotne-informacje
{
  list-style: none;
  margin-left: -20px
}

#powrot
{
  float: left;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  color: black;
  width: 140px;
  height: 38px;
  border: solid;
  border-color: black;
  border-radius: 7px;
  padding-top: 12px;
  margin-bottom: 20px;
}

#powrot:hover
{
  background-color: yellow;
}

#zarezerwuj
{
  float: right;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  color: black;
  width: 140px;
  height: 38px;
  border: solid;
  border-color: black;
  border-radius: 7px;
  padding-top: 12px;
  margin-bottom: 20px;
}

#zarezerwuj:hover
{
  background-color: yellow;
}

#obrazek
{
  margin-right: 40px;
  margin-bottom: 20px;
}