body
{
  background-color: #fffde3;
}

header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightblue;
  border-style: dotted;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 20px;
  font-size: 20px;
  margin: -8px;
  margin-bottom: 10px;
}

footer
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: yellow;
  margin: -8px;
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: dotted;
}

#container
{
  display: grid;
  grid-template-columns: auto 180px;
  grid-template-rows: auto;
  grid-template-areas:
    "wycieczka1 right"
    "wycieczka2 right"
    "wycieczka3 right"
    "do-innych right"
    ". right";
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 870px)
{
  #container
  {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "wycieczka1"
      "wycieczka2"
      "wycieczka3"
      "do-innych"
      "right";
  }

  #porady
  {
    display: none;
  }
}

#wycieczka1
{
  grid-area: wycieczka1;
  margin-top: 20px;
  margin-bottom: 20px;
}

#wycieczka2
{
  grid-area: wycieczka2;
  margin-top: 20px;
  margin-bottom: 20px;
}

#wycieczka3
{
  grid-area: wycieczka3;
  margin-top: 20px;
  margin-bottom: 20px;
}

#do-innych
{
  grid-area: do-innych;
  margin-top: 20px;
  margin-bottom: 20px;
}

.do-poprzednich
{
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  color: black;
  float: left;
  width: 100px;
  height: 50px;
  border: solid;
  border-color: black;
  border-radius: 7px;
  margin-left: 20%;
}

.do-poprzednich:hover
{
  background-color: yellow;
}

.do-nastepnych
{
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  color: black;
  float: right;
  width: 100px;
  height: 50px;
  border: solid;
  border-color: black;
  border-radius: 7px;
  margin-right: 20%;
}

.do-nastepnych:hover
{
  background-color: yellow;
}

#right
{
  grid-area: right;
}

.h1
{
  font-family: Arial, sans-serif;
}

.h2
{
  font-family: Arial, sans-serif;
}

.h3
{
  font-family: Arial, sans-serif;
}

.obrazek
{
  float: left;
  width: 250px;
  height: 180px;
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.wycieczka-teskt
{
  float: left;
  width: 100%;
}

.wycieczka-opis
{
  font-size: 22px;
}

.wycieczka-do-opisu
{
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

.wycieczka-do-opisu:hover
{
  color: blue;
}

.wycieczka-zarezerwuj
{
  float: right;
  color: blue;
  font-size: 18px;
  margin-right: 80px;
  text-decoration: none;
}

.wycieczka-zarezerwuj:hover
{
  color: #880094;
}

.promocja-nazwa
{
  margin-left: 20px;
}

.promocja-tekst
{
  margin-left: 40px;
}

.porada-szara
{
  display: inline-block;
  width: 160px;
  height: 55px;
  font-size: 17px;
  background-color: #dbdbdb;
  border-style: dotted;
  padding-left: 10px;
  padding-top: 15px;
}

.porada-szara:hover
{
  background-color: grey;
}

.porada-biala
{
  display: inline-block;
  width: 160px;
  height: 55px;
  font-size: 17px;
  padding-left: 10px;
  padding-top: 15px;
}

.porada-biala:hover
{
  background-color: #dbdbdb;
}

.header-opcja
{
  text-decoration: none;
  color: black;
}

.header-opcja:hover
{
  color: purple;
}