extends layout.pug

block scripts
  link(rel='stylesheet' href='style/style-index.css' type='text/css')

block content
  - let tripDivs = ['wycieczka1', 'wycieczka2', 'wycieczka3'];
  - let tripDivIndex = 0;
  #container
    each trip in trips
      div(id = tripDivs[tripDivIndex])
        .wycieczka-teskt
          img.obrazek(src=trip.picture alt=':(')
          h1= trip.name
          p.wycieczka-opis= trip.description
          |         Cena: #{trip.price}
          a.wycieczka-zarezerwuj Zarezerwuj &gt;&gt;
      - tripDivIndex = (tripDivIndex + 1) % 3;
    #right
      #promocje
        h2 Promocje
        .promocja
          h3.promocja-nazwa G&oacute;ry wysokie
          p.promocja-tekst 1-31 lutego
          a.promocja-tekst Rezerwuj &gt;&gt;
        .promocja
          h3.promocja-nazwa Inne miejsce
          p.promocja-tekst 17-18 kwietnia
          a.promocja-tekst Rezerwuj &gt;&gt;
        .promocja
          h3.promocja-nazwa Te&zdot; gdzie&sacute;
          p.promocja-tekst w listopadzie
          a.promocja-tekst Rezerwuj &gt;&gt;
        .promocja
          h3.promocja-nazwa Warszawa
          p.promocja-tekst ci&aogon;gle
          a.promocja-tekst Rezerwuj &gt;&gt;
      #porady
        h2 Porady
        a.porada-szara Co zabra&cacute; na wycieczk&eogon;?
        a.porada-biala Kiedy najlepiej wyjecha&cacute;?
        a.porada-szara Jakie buty s&aogon; najwygodniejsze?

block invisible
  script.
    document.getElementsByClassName('header-opcja')[0].style.color = '#09008d';