doctype html
head
  meta(charset='utf-8')
  title Wycieczki
  block scripts
    link(rel='stylesheet' href='style-wycieczka.css' type='text/css')
block header
  header
    .header-tile
      img(src='logo.png' alt=':(')
    a.header-opcja(href='/index?grupa=0') Strona główna
    a.header-opcja Wycieczka
    a.header-opcja Rezerwacja
    a.header-opcja(href='/rejestracja') Zarejestruj się
    a.header-opcja(href='/login') Zaloguj się
    a.header-opcja Moje konto
block content
block footer
  footer
    p Biruo podr&oacute;&zdot;y, 2022
    p O firmie
    p Polityka prywatno&sacute;ci
    p Kontakt
block invisible