extends layout.pug

block scripts
  link(rel='stylesheet' href='style-index.css' type='text/css')
  link(rel='stylesheet' href='style-form.css' type='text/css')
  script(defer='' src='validate-form.js')

block content
  #form-container
    h2 Sukces!
    p#sukces-info Udało ci się zalogować.
    a.powrot-left(href='/index?grupa=0') Menu
    div.clear-float

block invisible
  script.
    document.getElementsByClassName('header-opcja')[4].style.color = '#09008d';