extends layout.pug

block scripts
  link(rel='stylesheet' href='style-index.css' type='text/css')
  link(rel='stylesheet' href='style-form.css' type='text/css')

block content
  #form-container
    h2 Sukces!
    p#sukces-info Rejestracja zakończyła się pomyślnie.
    a.powrot-left(href='/index?grupa=0') Menu
    div.clear-float

block invisible
  script.
    document.getElementsByClassName('header-opcja')[3].style.color = '#09008d';